.form {
    margin: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.checkboxes {
    display: flex;
    flex-direction: row;
}

.notify {
    font-size: 12px;
    color: #e51d1d;
    margin: 0;
}

.select_new_interview_time__container {
    display: flex;
    gap: 5px;
    align-items: center;
}