.change_view_container {
    text-align: left;
    width: 100%;
}

.calendar_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.select_work_time_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.select_interview_time_container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
}

.admin_container{
    display: flex;
    gap: 4em;
}