.select_event_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.select_event_label {
    font-weight: 700;
}

.select_event {
    width: 100%;
    display: block;
    text-align: left;
}