.event {
    background-color: #D9EDF7;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 5px 3px 10%;
}

.event_title {
    width: 100%;
}

.selected {
    background-color: #26A1DF;
    color: white;
    cursor: auto;
}

.remove_event_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    min-width: 17px;
    min-height: 17px;
    cursor: pointer;
}

.remove_event {
    height: 17px;
    width: 17px;
}