.scheduler_container {
    display: flex;
    gap: 20px;
}

.scheduler_container > div > table {
    margin: 0;
}

@media (max-width: 1400px) {
    .scheduler_container {
        flex-direction: column;
    }
}
