.table_container {
    padding: 20px;
}

.scheduler_container {
    display: flex;
    gap: 20px;
}

.scheduler_container > div > table {
    margin: 0;
}

.loader_container{
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}
