.app {
    padding: 20px 0;
    text-align: center;
    width: 95vw;
    max-width: 1900px;
    display: flex;
    justify-content: center;
    position: relative;
    left: calc(-50vw + 50%);
}

.wrapper {
    width: 95%;
    margin-top: 20px;
}

.times-header {
    display: flex;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}

.recruiter {
    width: 250px !important;
    text-align: left;
    border: none;
}

.recruiter-td {
    max-width: 250px;
    padding: 8px 16px;
    border: 1px solid lightgray;
}

.header2-text {
    display: flex;
    align-items: center;
    line-height: 100%;
}

.header2-text-label {
    font-weight: 700;
}

.MuiOutlinedInput-root > fieldset {
    top: 0;
}
.MuiOutlinedInput-root > fieldset > legend {
    display: none;
}

.round-all.event-item {
    text-overflow: clip;
    padding: 0 !important;
    border-radius: 5px;
}

.event-item > span {
    color: #151515;
    font-size: 0.7em;
    margin-left: 0 !important;
}
