.app {
    padding: 20px 0;
    text-align: center;
    max-width: 1900px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 95%;
    margin-top: 20px;
}

.times-header {
    display: flex;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}

.recruiter {
    width: 250px !important;
    text-align: left;
    border: none;
}

.recruiter-td {
    max-width: 250px;
    padding: 8px 16px;
    border: 1px solid lightgray;
}

.header2-text {
    display: flex;
    align-items: center;
    line-height: 100%;
}

.header2-text-label {
    font-weight: 700;
}

.MuiOutlinedInput-root > fieldset {
    top: 0;
}
.MuiOutlinedInput-root > fieldset > legend {
    display: none;
}

#root .overflow-text {
    white-space: normal;
}

#root .slot-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-all.event-item {
    text-overflow: clip;
    padding: 0 !important;
    border-radius: 5px;
}

.event-item > span {
    color: #151515;
    font-size: 0.7em;
    margin-left: 0 !important;
}

/*#root .resource-view div::-webkit-scrollbar {*/
/*    !*height: 10px;  ширина scrollbar *!*/
/*}*/

/*#root .resource-view div::-webkit-scrollbar-track {*/
/*    background: white; !* цвет дорожки *!*/
/*}*/

/*#root .resource-view div::-webkit-scrollbar-thumb {*/
/*     background-color: rgb(172, 172, 172, 0.4); !* цвет плашки *!*/
/*     border-radius: 20px; !* закругления плашки *!*/
/*}*/


@media (max-width: 1024px) {
    #root .slot-text {
        font-size: 12px;
    }
}
