.app {
    padding: 20px 0px;
    text-align: center;
    height: 600px;
}

.wrapper {
    width: 95%;
    margin-top: 20px;
}

.times-header {
    display: flex;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
}

/*th {*/
/*    height: 15px;*/
/*    border-left: 1px solid lightgray;*/
/*    border-right: 1px solid lightgray;*/
/*}*/

/*td {*/
/*    height: 37px;*/
/*    width: 84px;*/
/*    border: 1px solid lightgray;*/
/*    box-sizing: border-box;*/
/*}*/

.recruiter {
    width: 250px !important;
    text-align: left;
    border: none;
}

.recruiter-td {
    max-width: 250px;
    padding: 8px 16px;
    border: 1px solid lightgray;
}
