.Popover {
    width: fit-content;
}

.btnswrapper {
    display: flex;
    gap: 0.4em;
}

.Button {
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: transparent;
    margin-top: 10px;
    padding: 3px 12px;
    color: rgba(0, 0, 0, 0.65);
    transition: 0.4s;
}
.Button:hover {
    filter: opacity(0.8);
    color: #1890ff;
}
